<body class="list" id="top">
	<main class="main">
		<div class="profile">
		<div class="profile_inner">
			<img draggable="false" src="./assets/img/CH-gigashirt.jpg" alt="profile image" title="" height="160" width="160">
			<h1>Dr Chris Hunter</h1>
			<span>I'm a seasoned bioinformatics professional, having recently served as Director of GigaDB for GigaScience Press at BGI-Hong Kong, where I lead efforts to enhance research transparency and reproducibility through innovative data management solutions. My unique background spans hands-on laboratory research, large-scale database curation, and strategic data platform development.<br><br>With over 15 years of experience in biocuration, bioinformatics, data curation, and genomic research, I can help organisations and researchers maximize the value of their scientific data through expert consultation and implementation services.</span>
			<div class="social-icons">
				<a href="./assets/img/C.HUNTER_CV.pdf" target="_blank" rel="noopener noreferrer me" title="CV">
					<svg viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M4 4v16a2 2 0 002 2h12a2 2 0 002-2V8.342a2 2 0 00-.602-1.43l-4.44-4.342A2 2 0 0013.56 2H6A2 2 0 004 4z"/>
					<path d="M9 13h6"/>
					<path d="M9 17h3"/>
					<path d="M14 2v4a2 2 0 002 2h4"/>
					</svg>
				</a>
				<a href="mailto:dr.chris.i.hunter@gmail.com" target="_blank" rel="noopener noreferrer me" title="Email">
					<svg viewBox="0 0 24 21" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M4 4h16c1.1.0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1.0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
					<polyline points="22,6 12,13 2,6"/>
					</svg>
				</a>
				<a href=https://www.linkedin.com/in/chr1shunter/ target=_blank rel="noopener noreferrer me" title=LinkedIn>
					<svg xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 24 24" 
					fill="none" 
					stroke="currentcolor" 
					stroke-width="2" 
					stroke-linecap="round" 
					stroke-linejoin="round">
				<!-- "n" -->
					<path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6z"/>
				<!-- "i" stem -->
					<rect x="2" y="9" width="4" height="12"/>
				<!-- "i" dot -->
					<circle cx="4" cy="4" r="2"/>
					</svg>
				</a>
				<a href="https://orcid.org/0000-0002-1335-0881" target="_blank" rel="noopener noreferrer me" title="ORCID">
					<svg viewBox="0 0 24 24"
					fill="none"
					stroke="currentcolor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
				<!-- Outer circle -->
					<circle cx="12" cy="12" r="10.4"/>
				<!-- iD inside circle -->
					<path d="M7.5 6 v0.5 M7.5 8.5 v7 M11.5 8.5h2c2.2 0 3.8 1.6 3.8 3.5s-1.6 3.5-3.8 3.5h-2v-7z"/>
					</svg>
				</a>																
				<a href="https://scholar.google.com/citations?user=ARYT6AYAAAAJ&hl=en" target="_blank" rel="noopener noreferrer me" title="Google Scholar">
					<svg viewBox="0 0 24 25"
					fill="none"
					stroke="currentcolor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M5.242 13.769.5 9.5 12 1l11.5 9-5.242 3.769C17.548 11.249 14.978 9.5 12 9.5c-2.977.0-5.548 1.748-6.758 4.269zM12 10a7 7 0 100 14 7 7 0 000-14z"/>
					</svg>
				</a>
				<a href="https://github.com/only1chunts" target="_blank" rel="noopener noreferrer me" title="GitHub">
					<svg viewBox="0 0 24 24"
					fill="none"
					stroke="currentcolor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"/>
					</svg>
				</a>
				<a href="https://www.youtube.com/@chrishunter3532" target="_blank" rel="noopener noreferrer me" title="YouTube">
					<svg viewBox="0 0 24 24"
					fill="none"
					stroke="currentcolor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M22.54 6.42a2.78 2.78.0 00-1.94-2C18.88 4 12 4 12 4s-6.88.0-8.6.46a2.78 2.78.0 00-1.94 2A29 29 0 001 11.75a29 29 0 00.46 5.33A2.78 2.78.0 003.4 19c1.72.46 8.6.46 8.6.46s6.88.0 8.6-.46a2.78 2.78.0 001.94-2 29 29 0 00.46-5.25 29 29 0 00-.46-5.33z"/>
					<polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"/>
					</svg>
				</a>
				<a href="https://x.com/only1chunts" target="_blank" rel="noopener noreferrer me" title="Twitter">
					<svg viewBox="0 0 24 24"
					fill="none"
					stroke="currentcolor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M23 3a10.9 10.9.0 01-3.14 1.53 4.48 4.48.0 00-7.86 3v1A10.66 10.66.0 013 4s-4 9 5 13a11.64 11.64.0 01-7 2c9 5 20 0 20-11.5a4.5 4.5.0 00-.08-.83A7.72 7.72.0 0023 3z"/>
					</svg>
				</a>
				<a href="https://bsky.app/profile/only1chunts.bsky.social" target="_blank" rel="noopener noreferrer me" title="Bluesky">
					<svg viewBox="-25 0 400 320"
					fill="none"
					stroke="currentcolor"
					stroke-width="30">
					<path d="M180 141.964c-16.301-31.702-60.692-90.7823-101.9653-119.92C38.4971-5.86834 23.414-1.03207 13.526 3.43594 2.08093 8.60755.0 26.1785.0 36.5164.0 46.8542 5.66748 121.272 9.36416 133.694 21.5786 174.738 65.0603 188.607 105.104 184.156 107.151 183.852 109.227 183.572 111.329 183.312 109.267 183.642 107.19 183.924 105.104 184.156 46.4204 192.847-5.69621 214.233 62.6582 290.33 137.848 368.18 165.705 273.637 180 225.702c14.295 47.935 30.76 139.069 115.995 64.628C360 225.702 313.58 192.85 254.896 184.158 252.81 183.926 250.733 183.645 248.671 183.315 250.773 183.574 252.849 183.855 254.896 184.158 294.94 188.61 338.421 174.74 350.636 133.697 354.333 121.275 360 46.8568 360 36.519 360 26.1811 357.919 8.61012 346.474 3.43851 336.586-1.02949 321.503-5.86576 281.965 22.0466 240.692 51.1843 196.301 110.262 180 141.964z"/>
					</svg>
				</a>
			</div>
			<div class="buttons">
				<a class="button" href="./pages/news.html" rel="noopener" title="News">
				<span class="button-inner">News</span>
				</a>
				<a class="button" href="./pages/activities.html" rel="noopener" title="Activitied">
				<span class="button-inner">Activities</span>
				</a>
				<a class="button" href="./pages/services.html" rel="noopener" title="Services">
				<span class="button-inner">Services</span>
				</a>
			</div>
		</div>
		</div>
	</main>
		<script>let menu=document.getElementById("menu");menu&&(menu.scrollLeft=localStorage.getItem("menu-scroll-position"),menu.onscroll=function(){localStorage.setItem("menu-scroll-position",menu.scrollLeft)}),document.querySelectorAll('a[href^="#"]').forEach(e=>{e.addEventListener("click",function(e){e.preventDefault();var t=this.getAttribute("href").substr(1);window.matchMedia("(prefers-reduced-motion: reduce)").matches?document.querySelector(`[id='${decodeURIComponent(t)}']`).scrollIntoView():document.querySelector(`[id='${decodeURIComponent(t)}']`).scrollIntoView({behavior:"smooth"}),t==="top"?history.replaceState(null,null," "):history.pushState(null,null,`#${t}`)})})</script>
</body>
																										